body {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 130%;
        }

        input {
            padding: 5px 5px 10px 5px;
            font-size: 25px;
            border-radius: 5px;
            border: 1px solid gray;
            width: 320px;
        }

        label {
            position: relative;
            top: 12px;
            width: 200px;
            float: left;
        }

        #wrapper {
            width: 550px;
            margin: 0 auto;
        }

        .form-element {
            margin-bottom: 10px;
        }

        #submitButton {
            width: 150px;
            margin-left: 200px;
        }
